include doctype.pug
include ../components/button/button.pug
include ../components/input/input.pug
include ../components/checkboxButtons/checkbox-button.pug
include ../components/radioButton/radio-button.pug

+button ({title: 'Регистрация'})
+checkboxButtons({ items: [ { label: 'Можно курить' }, { label: 'Можно с питомцами', isChecked: false }, { label: 'Можно пригласить гостей (до 10 человек)', isChecked: false }, ], })
+checkboxButtons({ items: [ { title: 'Широкий коридор', label: 'Ширина коридоров в номере не менее 91 см.', }, { title: 'Помощник для инвалидов', label: 'На 1 этаже вас встретит специалист и проводит до номера.', }, ], })
+radio-button({
        name: 'registration-sex',
        items: [
          {
            text: 'Мужчина',
            checked: true,
          },
          {
            text: 'Женщина',
          },
        ]
      })
