link(rel="stylesheet", href="button.css")
mixin button(options)
    -
        let btnClass = "btn";

        const {
            title,
            isDisabled
        } = options;

        if (isDisabled)
            btnClass += " btn_disabled";

    button(class=btnClass)=title




    
